Repository pingcap/br, pull requests merged in 2021-01, with the labels that each got.

#681 test: remove the -d parameter since pd-ctl doesn't support it anymore
  tests/br_shuffle_leader/run.sh
  tests/br_shuffle_region/run.sh
Labels: CanMerge, status/LGT2

#676 storage/: refactor storage.ExternalStorage interface
  cmd/debug.go
  pkg/backup/client.go
  pkg/cdclog/puller.go
  pkg/restore/log_client.go
  pkg/storage/compress.go
  pkg/storage/compress_test.go
  pkg/storage/gcs.go
  pkg/storage/gcs_test.go
  pkg/storage/local.go
  pkg/storage/noop.go
  pkg/storage/s3.go
  pkg/storage/s3_test.go
  pkg/storage/storage.go
  pkg/storage/writer.go
  pkg/storage/writer_test.go
  pkg/task/common.go
Labels: component/external-storage, status/LGT2, type/enhancement

#660 metrics: update Backup & Import dashboard
  metrics/grafana/br.json
Labels: CanMerge, component/metrics, needs-cherry-pick-4.0, needs-cherry-pick-5.0-rc, status/LGT2

#682 backup: dump stats to json should not be fatal
  pkg/backup/client.go
  pkg/backup/schema_test.go
  pkg/restore/client.go
Labels: CanMerge, component/backup, needs-cherry-pick-4.0, needs-cherry-pick-5.0-rc, status/LGT2, type/bug-fix

#685 restore: fast fail when backup table's cluster index option is not consistent
  pkg/restore/client.go
  pkg/restore/client_test.go
  pkg/task/restore.go
Labels: status/LGT2, type/compatibility

#677 gcs: compatible with old gcs bug
  Makefile
  go.mod1
  go.sum1
  pkg/mock/mock_cluster.go
  pkg/storage/gcs.go
  pkg/storage/parse.go
  pkg/task/common.go
  tests/br_gcs/oauth.py
  tests/br_gcs/run.sh
  tests/br_gcs/workload
  tests/download_tools.sh
Labels: component/external-storage, needs-cherry-pick-4.0, needs-cherry-pick-5.0-rc, status/LGT2, type/bug-fix, type/compatibility

#692 cmd/: change redact log parameter name
  cmd/cmd.go
  tests/br_other/run.sh
Labels: component/backup, component/restore, needs-cherry-pick-4.0, needs-cherry-pick-5.0-rc, status/LGT1, type/compatibility

#693 stats: disable stats by default
  cmd/backup.go
  cmd/restore.go
  pkg/task/backup.go
  tests/br_full_ddl/run.sh
Labels: Priority/P0, needs-cherry-pick-4.0, needs-cherry-pick-5.0-rc, release-blocker, status/LGT2

#699 test: remove python code
  Makefile
  tests/br_gcs/oauth.go
  tests/br_gcs/oauth.py
  tests/br_gcs/run.sh
Labels: component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/enhancement

#715 grafana dashboards support multiple cluster
  metrics/grafana/br.json
Labels: component/metrics, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#724 metrics: use tidb_cluster label get variable values
  metrics/grafana/br.json
Labels: component/metrics, needs-cherry-pick-4.0, status/LGT2

#723 *: refine logs
  cmd/cmd.go
  cmd/debug.go
  pkg/backup/client.go
  pkg/kv/kv.go
  pkg/kv/kv_test.go
  pkg/logutil/logging.go
  pkg/logutil/logging_test.go
  pkg/logutil/redact.go
  pkg/redact/redact.go
  pkg/redact/redact_test.go
  pkg/restore/batcher.go
  pkg/restore/batcher_test.go
  pkg/restore/client.go
  pkg/restore/import.go
  pkg/restore/log_client.go
  pkg/restore/pipeline_items.go
  pkg/restore/range.go
  pkg/restore/split.go
  pkg/restore/split_client.go
  pkg/restore/util.go
  pkg/rtree/logging.go
  pkg/rtree/logging_test.go
  pkg/rtree/rtree.go
  tests/br_key_locked/locker.go
Labels: component/backup, component/restore, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#726 Fix the issue that rawkv restore's end key is incorrectly inclusive when restoring partial of backed up data (#201)
  pkg/restore/import.go
  tests/br_rawkv/client.go
  tests/br_rawkv/run.sh
Labels: status/LGT2

#645 log_restore: refactor write and ingest logic.
  pkg/conn/conn.go
  pkg/kv/kv.go
  pkg/kv/kv_test.go
  pkg/restore/import.go
  pkg/restore/ingester.go
  pkg/restore/log_client.go
  pkg/restore/log_client_test.go
  pkg/restore/range.go
  pkg/restore/split.go
  pkg/restore/split_client.go
  pkg/restore/split_test.go
  pkg/restore/util.go
  pkg/restore/util_test.go
  pkg/utils/worker.go
  tests/br_log_restore/run.sh
  tests/config/tikv.toml
Labels: component/restore, needs-cherry-pick-4.0, status/LGT2, type/enhancement
