Repository pingcap/br, pull requests merged in 2021-03, with the labels that each got.

#763 tests: replace br with run_br in integration tests
  Makefile
  go.mod1
  go.sum1
  pkg/gluetikv/glue.go
  pkg/lightning/restore/checksum.go
  pkg/mock/mock_cluster.go
  tests/_utils/generate_certs
  tests/br_incompatible_tidb_config/run.sh
  tests/br_incremental/run.sh
  tests/br_incremental_ddl/run.sh
  tests/br_incremental_index/run.sh
  tests/br_incremental_only_ddl/run.sh
  tests/br_incremental_same_table/run.sh
  tests/br_key_locked/locker.go
Labels: component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#767 tests: replace s3cmd with minio/mc
  tests/README.md
  tests/br_log_restore/run.sh
  tests/br_s3/run.sh
  tests/up.sh
Labels: component/external-storage, component/test, needs-cherry-pick-4.0, status/LGT2

#775 tests: create bucket only once and remove bucket via mc
  tests/br_s3/run.sh
Labels: component/external-storage, component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#771 pkg/*/transaction:implement functions for tableinfo
  pkg/kv/session.go
  pkg/lightning/backend/session.go
Labels: component/dependency, component/import, status/LGT2

#769 tests: fix lightning integration test checkpoint_engines
  tests/lightning_checkpoint_engines/run.sh
Labels: component/import, component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#781 Rollup of PRs that fix CI
  .gitignore
  Makefile
  tests/README.md
  tests/_utils/generate_certs
  tests/br_incompatible_tidb_config/run.sh
  tests/br_incremental/run.sh
  tests/br_incremental_ddl/run.sh
  tests/br_incremental_index/run.sh
  tests/br_incremental_only_ddl/run.sh
  tests/br_incremental_same_table/run.sh
  tests/br_log_restore/run.sh
  tests/br_s3/run.sh
  tests/lightning_checkpoint_engines/run.sh
  tests/up.sh
Labels: component/test, status/LGT2, type/4.0-cherry-pick

#760 lightning: check max compatible version
  pkg/lightning/backend/checkreq_test.go
  pkg/lightning/backend/importer.go
  pkg/lightning/backend/local.go
Labels: component/import, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#786 pkg/mock, pkg/lightning: unify mock files
  Makefile
  pkg/lightning/backend/backend_test.go
  pkg/lightning/backend/importer_test.go
  pkg/lightning/checkpoints/checkpoints.go
  pkg/lightning/checkpoints/checkpoints_test.go
  pkg/lightning/checkpoints/checkpointspb/file_checkpoints.pb.go
  pkg/lightning/checkpoints/checkpointspb/file_checkpoints.proto
  pkg/lightning/mydump/reader_test.go
  pkg/lightning/restore/restore_test.go
  pkg/mock/backend.go
  pkg/mock/glue.go
  pkg/mock/glue_checkpoint.go
  pkg/mock/importer.go
  pkg/mock/storage.go
Labels: component/import, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#791 tests: fix oauth process is not killed in gcs test
  tests/br_gcs/run.sh
Labels: component/test, needs-cherry-pick-4.0, status/LGT2

#792 tests: make unblocksChecker get time synchronously
  pkg/lightning/common/pause_test.go
Labels: component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#734 backupmeta: add cluster_version and br_version info in backupmeta
  go.mod1
  go.sum1
  pkg/backup/client.go
  pkg/backup/client_test.go
  pkg/glue/glue.go
  pkg/gluetidb/glue.go
  pkg/gluetikv/glue.go
  pkg/gluetikv/glue_test.go
  pkg/task/backup.go
  pkg/task/backup_raw.go
  tests/br_backup_version/run.sh
Labels: component/backup, needs-cherry-pick-4.0, needs-cherry-pick-5.0-rc, status/LGT2, status/can-merge, type/feature-request

#802 tests: apply looser unblock requiremet.
  pkg/lightning/common/pause_test.go
Labels: component/backup, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#654 test: add clustered index test cases
  tests/br_clustered_index/run.sh
Labels: component/test, needs-cherry-pick-5.0-rc, status/LGT2, status/can-merge, type/compatibility

#807 tests: extend minio wait time to stable minio slow start
  tests/br_log_restore/run.sh
  tests/br_s3/run.sh
  tests/lightning_s3/run.sh
Labels: component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#821 pkg/kv:remove set/delete option from transaction
  pkg/kv/session.go
  pkg/kv/session_test.go
  pkg/lightning/backend/session.go
  pkg/lightning/backend/session_test.go
Labels: component/import, status/LGT2, status/can-merge

#825 *: report error if service safe point check fails
  pkg/task/backup.go
  pkg/task/restore.go
  pkg/utils/safe_point.go
  pkg/utils/safe_point_test.go
Labels: component/util, needs-cherry-pick-4.0, status/LGT2, status/can-merge, status/ptal, type/bug-fix

#820 br: log cURL-relative environment variables
  cmd/br/backup.go
  cmd/br/debug.go
  cmd/br/restore.go
  go.sum1
  pkg/lightning/lightning.go
  pkg/utils/version.go
  pkg/utils/version_test.go
Labels: component/util, needs-cherry-pick-4.0, status/LGT2, status/can-merge, status/ptal

#829 *: rename kvproto/pkg/backup to backuppb
  Makefile
  cmd/br/debug.go
  pkg/backup/client.go
  pkg/backup/client_test.go
  pkg/backup/push.go
  pkg/backup/schema.go
  pkg/conn/conn.go
  pkg/logutil/logging.go
  pkg/logutil/logging_test.go
  pkg/restore/batcher.go
  pkg/restore/client.go
  pkg/restore/import.go
  pkg/restore/merge.go
  pkg/restore/merge_test.go
  pkg/restore/util.go
  pkg/restore/util_test.go
  pkg/rtree/logging_test.go
  pkg/rtree/rtree.go
  pkg/storage/gcs.go
  pkg/storage/gcs_test.go
  pkg/storage/parse.go
  pkg/storage/parse_test.go
  pkg/storage/s3.go
  pkg/storage/s3_test.go
  pkg/storage/storage.go
  pkg/task/backup.go
  pkg/task/backup_raw.go
  pkg/task/backup_test.go
  pkg/task/common.go
  pkg/task/restore.go
  pkg/utils/schema.go
  pkg/utils/schema_test.go
Labels: component/backup, component/restore, needs-cherry-pick-4.0, status/LGT2, status/ptal, type/enhancement

#824 br: Add TLS support for PProf of BR
  cmd/br/cmd.go
  pkg/task/common.go
  pkg/utils/dyn_pprof_unix.go
  pkg/utils/pprof.go
  tests/br_other/run.sh
Labels: component/util, needs-cherry-pick-4.0, status/LGT2, status/can-merge, status/ptal

#838 mock: enable the mock package only in unit tests
  Makefile
  pkg/mock/backend.go
  pkg/mock/dummy.go
  pkg/mock/glue.go
  pkg/mock/glue_checkpoint.go
  pkg/mock/importer.go
  pkg/mock/mock_cluster.go
  pkg/mock/mock_cluster_test.go
  pkg/mock/s3iface.go
  pkg/mock/storage.go
  tests/README.md
Labels: component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#844 metrics: set uid in lightning.json
  metrics/grafana/lightning.json
Labels: first-time-contributor, status/LGT2, status/can-merge

#835 pkg/lightning: fix a bug that importer backend may ignore write rows error
  pkg/lightning/backend/importer.go
  pkg/lightning/restore/restore.go
  tests/lightning_checkpoint_engines/run.sh
Labels: component/import, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#780 br: add retry for s3 storage write failure
  pkg/backup/client.go
  pkg/backup/push.go
  pkg/conn/conn.go
  pkg/conn/conn_test.go
  pkg/restore/backoff.go
  pkg/utils/retry.go
  tests/br_full/run.sh
  tests/br_s3/run.sh
  tests/br_s3/workload
Labels: component/backup, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#798 *: unify version and set max compatible via NextMajorVersion
  Makefile
  cmd/br/backup.go
  cmd/br/cmd.go
  cmd/br/debug.go
  cmd/br/restore.go
  pkg/conn/conn.go
  pkg/gluetikv/glue.go
  pkg/lightning/backend/checkreq_test.go
  pkg/lightning/backend/importer.go
  pkg/lightning/backend/local.go
  pkg/lightning/backend/tidb.go
  pkg/lightning/checkpoints/checkpoints.go
  pkg/lightning/checkpoints/checkpoints_sql_test.go
  pkg/lightning/checkpoints/glue_checkpoint.go
  pkg/lightning/common/version.go
  pkg/lightning/common/version_test.go
  pkg/lightning/config/global.go
  pkg/lightning/lightning.go
  pkg/lightning/restore/checksum.go
  pkg/lightning/restore/restore.go
  pkg/lightning/restore/restore_test.go
  pkg/pdutil/pd.go
  pkg/utils/env.go
  pkg/utils/env_test.go
  pkg/utils/version_test.go
  pkg/version/build/info.go
  pkg/version/build/info_test.go
  pkg/version/version.go
  pkg/version/version_test.go
  tests/lightning_check_requirements/config.toml
  tests/lightning_check_requirements/data/checkreq-schema-create.sql
  tests/lightning_check_requirements/run.sh
Labels: component/backup, component/import, component/restore, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#806 pkg/lightning: checkVersion checks major version for requiredMaxVersion
  pkg/lightning/backend/checkreq_test.go
  pkg/lightning/backend/importer.go
Labels: component/import, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#850 pkg/lightning: replace local generated ts with tso fetch from pd
  pkg/lightning/backend/backend.go
  pkg/lightning/backend/backend_test.go
  pkg/lightning/backend/importer_test.go
  pkg/lightning/backend/tidb_test.go
  pkg/lightning/restore/checksum.go
  pkg/lightning/restore/checksum_test.go
  pkg/lightning/restore/restore.go
  pkg/lightning/restore/restore_test.go
  pkg/mock/backend.go
Labels: component/import, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#865 Fix compile error
  pkg/task/common.go
Labels: component/util, status/LGT2

#863 pkg/lightning: temporarily disable local-writer and disk-quota
  pkg/lightning/backend/local.go
  pkg/lightning/config/config.go
  tidb-lightning.toml
Labels: component/import, release-blocker, status/LGT2, status/can-merge

#847 lightning: reduce memory use
  pkg/lightning/backend/backend.go
  pkg/lightning/backend/backend_test.go
  pkg/lightning/backend/importer.go
  pkg/lightning/backend/importer_test.go
  pkg/lightning/backend/local.go
  pkg/lightning/backend/local_test.go
  pkg/lightning/backend/tidb.go
  pkg/lightning/backend/tidb_test.go
  pkg/lightning/config/config.go
  pkg/lightning/lightning.go
  pkg/lightning/lightning_test.go
  pkg/lightning/restore/restore.go
  pkg/lightning/restore/restore_test.go
  pkg/mock/backend.go
  tests/lightning_checkpoint/run.sh
  tests/lightning_disk_quota/config.toml
  tidb-lightning.toml
Labels: component/import, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#755 lightning/restore: fail fast when met error in engine/chunk restore
  pkg/lightning/backend/local.go
  pkg/lightning/restore/restore.go
  tests/lightning_fail_fast/chunk.toml
  tests/lightning_fail_fast/data/fail_fast-schema-create.sql
  tests/lightning_fail_fast/data/fail_fast.tb-schema.sql
  tests/lightning_fail_fast/data/fail_fast.tb.0.csv
  tests/lightning_fail_fast/data/fail_fast.tb.1.csv
  tests/lightning_fail_fast/data/fail_fast.tb.2.csv
  tests/lightning_fail_fast/engine.toml
  tests/lightning_fail_fast/run.sh
Labels: component/import, needs-cherry-pick-4.0, status/LGT2, status/can-merge, status/ptal, type/bug-fix, type/enhancement

#761 lightning/backend: run batch split region in parallel for local backend
  pkg/lightning/backend/localhelper.go
  pkg/lightning/backend/localhelper_test.go
Labels: component/import, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/performance

#873 pkg/lightning: fix chunk restore may ignore error if ctx is canceled
  pkg/lightning/restore/restore.go
Labels: component/import, needs-cherry-pick-4.0, needs-cherry-pick-5.0, severity/critical, status/LGT2, status/can-merge, type/bug-fix

#861 raw_backup, raw_restore: allow empty start_key and end_key
  pkg/restore/client.go
  pkg/task/backup_raw.go
  tests/br_rawkv/run.sh
Labels: component/backup, component/restore, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/can-merge

#871 br flags: --no-credentials and --skip-check-path
  pkg/backup/client.go
  pkg/restore/client.go
  pkg/storage/gcs.go
  pkg/storage/storage.go
  pkg/task/backup.go
  pkg/task/backup_raw.go
  pkg/task/common.go
  pkg/task/restore.go
  pkg/task/restore_log.go
Labels: first-time-contributor, status/LGT2, status/can-merge

#830 *: upgrade tidb dep and fix clustered index test
  go.mod1
  go.sum1
  pkg/kv/session.go
  pkg/lightning/backend/sql2kv_test.go
  tests/br_clustered_index/run.sh
  tests/br_incompatible_tidb_config/run.sh
  tests/lightning_alter_random/data/alter_random.t-schema.sql
  tests/lightning_auto_random_default/data/auto_random.t-schema.sql
  tests/lightning_disk_quota/data/disk_quota.t-schema.sql
  tests/lightning_tool_1472/data/EE1472.pk-schema.sql
Labels: component/test, needs-cherry-pick-5.0, release-blocker, status/LGT2

#878 Makefile: correct version tag
  Makefile
Labels: needs-cherry-pick-5.0, status/LGT2, status/can-merge

#877 lightning: refactor the `backend` package
  Makefile
  cmd/tidb-lightning-ctl/main.go
  pkg/lightning/backend/backend.go
  pkg/lightning/backend/backend_test.go
  pkg/lightning/backend/checkreq_test.go
  pkg/lightning/backend/importer/importer.go
  pkg/lightning/backend/importer/importer_test.go
  pkg/lightning/backend/kv/allocator.go
  pkg/lightning/backend/kv/session.go
  pkg/lightning/backend/kv/session_test.go
  pkg/lightning/backend/kv/sql2kv.go
  pkg/lightning/backend/kv/sql2kv_test.go
  pkg/lightning/backend/kv/types.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/local_test.go
  pkg/lightning/backend/local/local_unix.go
  pkg/lightning/backend/local/local_windows.go
  pkg/lightning/backend/local/localhelper.go
  pkg/lightning/backend/local/localhelper_test.go
  pkg/lightning/backend/tidb/tidb.go
  pkg/lightning/backend/tidb/tidb_test.go
  pkg/lightning/backend/tikv_test.go
  pkg/lightning/lightning.go
  pkg/lightning/lightning_test.go
  pkg/lightning/restore/restore.go
  pkg/lightning/restore/restore_test.go
  pkg/lightning/tikv/tikv.go
  pkg/lightning/tikv/tikv_test.go
  pkg/mock/backend.go
  pkg/mock/dummy.go
  pkg/mock/glue.go
  pkg/mock/glue_checkpoint.go
  pkg/mock/importer.go
  pkg/mock/kv.go
  pkg/mock/mock_cluster.go
  pkg/mock/mock_cluster_test.go
  pkg/mock/s3iface.go
  pkg/mock/storage.go
  pkg/version/version.go
  pkg/version/version_test.go
  tests/README.md
  tests/br_log_restore/run.sh
  tests/lightning_local_backend/run.sh
  tests/lightning_tidb_duplicate_data/run.sh
Labels: status/LGT2, status/can-merge

#876 *: skip creating Domain for backup without stats
  cmd/br/debug.go
  pkg/backup/client.go
  pkg/backup/schema.go
  pkg/backup/schema_test.go
  pkg/conn/conn.go
  pkg/restore/db_test.go
  pkg/task/backup.go
  pkg/task/backup_raw.go
  pkg/task/common.go
  pkg/task/restore.go
  pkg/task/restore_log.go
  pkg/task/restore_raw.go
  tests/br_full_ddl/run.sh
Labels: component/backup, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/can-merge

#885 pkg/lightning: make save file checkpoint more compatible to avoid checkpoint data loss
  pkg/lightning/checkpoints/checkpoints.go
Labels: component/import, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/can-merge

#888 test: skip 'correlation' field when compare statistics
  tests/br_full_ddl/run.sh
Labels: component/test, status/LGT2

#892 *: use docker/go-units
  pkg/pdutil/pd.go
  pkg/restore/merge.go
  pkg/task/common.go
  pkg/utils/unit.go
  pkg/utils/unit_test.go
Labels: component/util, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/can-merge

#862 log: add FilterCore and filter TiDB log
  cmd/br/cmd.go
  cmd/tidb-lightning/main.go
  pkg/lightning/lightning.go
  pkg/lightning/lightning_test.go
  pkg/lightning/log/filter.go
  pkg/lightning/log/filter_test.go
  pkg/lightning/log/log.go
  pkg/lightning/log/testlogger.go
Labels: component/import, component/util, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2

#853 br: remove alter-primary-key configuration
  go.mod1
  go.sum1
  pkg/task/restore.go
  tests/br_db/run.sh
  tests/br_full/run.sh
  tests/br_incompatible_tidb_config/config/tidb-allow-auto-random.toml
  tests/br_incompatible_tidb_config/config/tidb-max-index-length.toml
  tests/br_incompatible_tidb_config/run.sh
Labels: needs-cherry-pick-5.0, release-blocker, status/LGT2, status/can-merge

#906 storage: Add S3 retry time
  pkg/backup/client.go
  pkg/storage/s3.go
  tests/br_s3/run.sh
Labels: component/external-storage, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/can-merge

#899 lightning: replace storage.Create by storage.New
  pkg/lightning/lightning.go
  pkg/lightning/mydump/loader.go
Labels: component/import, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/can-merge, type/bug-fix

#903 Make Lightning S3 use force-path-style=true by default
  pkg/lightning/lightning.go
  pkg/storage/compress_test.go
  pkg/storage/local_test.go
  pkg/storage/parse.go
  pkg/storage/parse_test.go
  pkg/storage/writer_test.go
Labels: component/external-storage, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2

#845 lightning/restore: fix #812, ensure engines are restored in fixed order
  pkg/lightning/restore/restore.go
  tests/lightning_checkpoint_engines_order/config.toml
  tests/lightning_checkpoint_engines_order/data/disk_quota_checkpoint-schema-create.sql
  tests/lightning_checkpoint_engines_order/data/disk_quota_checkpoint.t-schema.sql
  tests/lightning_checkpoint_engines_order/data/disk_quota_checkpoint.t.0.sql
  tests/lightning_checkpoint_engines_order/data/disk_quota_checkpoint.t.1.sql
  tests/lightning_checkpoint_engines_order/data/disk_quota_checkpoint.t.2.sql
  tests/lightning_checkpoint_engines_order/run.sh
Labels: component/import, needs-cherry-pick-4.0, needs-cherry-pick-5.0, release-blocker, status/LGT2, status/can-merge

#909 pkg/lightning: fix several tiny issues
  pkg/lightning/backend/local/local.go
  pkg/lightning/lightning.go
  pkg/lightning/lightning_test.go
  pkg/lightning/mydump/loader.go
Labels: component/import, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge

#932 restore: set tiflash replica to nil when tiflash node is not satified
  pkg/restore/client.go
  pkg/restore/client_test.go
  pkg/restore/util_test.go
  pkg/task/restore.go
Labels: Priority/P0, component/restore, needs-cherry-pick-4.0, needs-cherry-pick-5.0, release-blocker, size/L, status/LGT2, status/can-merge

#938 makefile: fix the problem that `make` stuck in macOS
  Makefile
Labels: size/XS, status/LGT2, status/can-merge

#934 pkg/lightning: temporarily disable local-writer and disk-quota
  pkg/lightning/backend/local/local.go
  pkg/lightning/config/config.go
  tests/lightning_checkpoint_engines_order/run.sh
  tidb-lightning.toml
Labels: component/import, release-blocker, size/M, status/LGT2, status/can-merge, type/5.0-cherry-pick

#933 update tidb version to fix CI
  go.mod1
  go.sum1
Labels: needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge

#777 lightning: fix duplicated engine counter metrics
  pkg/lightning/backend/importer/importer.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/noop/noop.go
  pkg/lightning/backend/tidb/tidb.go
  pkg/lightning/config/config.go
  pkg/lightning/restore/restore.go
  pkg/lightning/restore/restore_test.go
Labels: component/import, needs-cherry-pick-4.0, needs-cherry-pick-5.0, release-blocker, size/XL, status/LGT2, status/can-merge, type/bug-fix

#944 update tidb version to fix CI (#933)
  go.mod1
  go.sum1
Labels: release-blocker, size/L, status/LGT2, status/can-merge

#950 pkg/lightning: fix integration test checkpoint_engines
  pkg/lightning/restore/restore.go
  tests/lightning_checkpoint_engines/run.sh
Labels: component/import, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge

#961 restore: fix false analyze failed error
  pkg/utils/schema.go
Labels: component/restore, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge

#958 pkg/*:adjust according the new version of github.com/pingcap/tidb/kv
  pkg/checksum/executor.go
  pkg/kv/session.go
  pkg/lightning/backend/kv/session.go
Labels: size/S, status/LGT2, status/can-merge

#947 pkg/lightning: reuse the kvs object to avoid memory allocate
  pkg/lightning/backend/local/local.go
  pkg/lightning/restore/restore.go
Labels: cherry-pick-approved, component/import, size/S, status/LGT2, status/can-merge, type/5.0-cherry-pick

#968 pkg/lightning: check compatibility with tiflash
  pkg/lightning/backend/backend.go
  pkg/lightning/backend/importer/importer.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/local_test.go
  pkg/lightning/backend/noop/noop.go
  pkg/lightning/backend/tidb/tidb.go
  pkg/lightning/restore/restore.go
  pkg/lightning/restore/restore_test.go
  pkg/mock/backend.go
Labels: component/import, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge, type/bug-fix
